<h1>Welcome to my blog!</h1>

<article id="blog-container">
  <% @posts.each do |post|%>
    <section class="blog-post">
      <div class = "article-header">
        <h2>
          <%= link_to(post[:title], show_path(post[:id]) ) %>
          <h3><%= "By: " + post[:author] %></h3>
        </h2>
      </div>
      <div class = "article-body">
        <p><%= post[:body] %></p>
        <img src="<%=post[:image]%>">
      </div>
    </section>
  <% end %>
</article>
